flows_4.json
[
    {
        "id": "6021b1a78956faa1",
        "type": "tab",
        "label": "Flow 4 - Recibir mensajes MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3690f18781a50928",
        "type": "json",
        "z": "6021b1a78956faa1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "d519a8d3ecd9f828",
                "cd94bb3b25deb40d",
                "a0ccb3bce1a9f722"
            ]
        ]
    },
    {
        "id": "b8aa3913e1b6c3d6",
        "type": "mqtt in",
        "z": "6021b1a78956faa1",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fd7730b5988f1f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3690f18781a50928",
                "e898908c1e64fcd6"
            ]
        ]
    },
    {
        "id": "d519a8d3ecd9f828",
        "type": "function",
        "z": "6021b1a78956faa1",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 20,
        "wires": [
            [
                "9da62662a3daae7b",
                "b8f381db0ffb9c68"
            ]
        ]
    },
    {
        "id": "cd94bb3b25deb40d",
        "type": "function",
        "z": "6021b1a78956faa1",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "0b56ba02f6f59ceb",
                "b8f381db0ffb9c68"
            ]
        ]
    },
    {
        "id": "0b56ba02f6f59ceb",
        "type": "ui_gauge",
        "z": "6021b1a78956faa1",
        "name": "",
        "group": "1df2d5fcac697215",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "9da62662a3daae7b",
        "type": "ui_gauge",
        "z": "6021b1a78956faa1",
        "name": "",
        "group": "7511f32966616e6e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "13",
        "max": "40",
        "colors": [
            "#729fcf",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "16",
        "seg2": "23",
        "className": "",
        "x": 670,
        "y": 20,
        "wires": []
    },
    {
        "id": "b8f381db0ffb9c68",
        "type": "ui_chart",
        "z": "6021b1a78956faa1",
        "name": "",
        "group": "7511f32966616e6e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico Local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#8ae234",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e898908c1e64fcd6",
        "type": "debug",
        "z": "6021b1a78956faa1",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "a0ccb3bce1a9f722",
        "type": "debug",
        "z": "6021b1a78956faa1",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "7fd7730b5988f1f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1df2d5fcac697215",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "138363bfb055e111",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7511f32966616e6e",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "138363bfb055e111",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "138363bfb055e111",
        "type": "ui_tab",
        "name": "Flow 4 - MQTT",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]